.chat-container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.chatrooms-container {
  border-style: none;
  width: 35%;
  height: 100%;
  background-color: #EBF4FB;
}

.chatrooms-header {
  border-bottom: 1px solid;
  height: 8%;
  background-color: #bcc5cc;
  padding: 10px;
  color: #181F2E;
}

.messages-container {
  border-style: none;
  width: 75%;
  height: 100%;
}

.messages-header {
  border-bottom: 1px solid #bcc5cc;
  height: 8%;
  background-color: #FFF;
  padding: 10px;
  color: #181F2E;
}

.messages {
  display: flex;
  flex-direction: column-reverse;
  border-style: none;
  width: 100%;
  height: 83%;
  padding: 10px;
  overflow: scroll;  
  overflow-x: hidden;
  background-color: #FFFFFF;
  font-size: smaller;
}

.chat-message {
  padding: 10px 10px 3px 8px;
  border-radius: 10px;
  background-color: darkgrey;
  min-width: 100px;
  margin: 15px;
  width: fit-content;
  margin-right: auto;
}

.my-chat-message {
  padding: 10px 10px 3px 8px;
  border-radius: 10px;
  background-color:#e6622f;
  min-width: 100px;
  width: fit-content;
  margin-left: auto;
  height: auto;
  margin-bottom: 15px;
}

.message-timestamp {
  display: flex;
  width: 100%;
  margin-top: 10px;
  margin-left: 70%;
  font-size: x-small;

}

.chat-owner-name {
  display: flex;
  flex-direction: column;
  font-size: small;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 10px;
}

.typing-container {
  display: flex;
  border: 1px solid #bcc5cc;
  border-width: 1px;
  margin-bottom: 0px;
  height: max-content;
}

.typing-container textarea {
  width: 100%;
  margin-bottom: 0px;
  color: #333;
  resize: none;
}

.typing-container button {
  width: 5%;
  margin-bottom: 0px;
  background-color: #e6622f;
  /* background-color: #EE4141; */
}

.chatroom-item {
  height: 55px;
  border-bottom: 1px solid #bcc5cc;
  padding: 15px;
  background-color: #EBF4FB;
  color: #181F2E
}


.chatroom-item:hover {
  filter: brightness(85%);
  cursor: pointer;
}

.chatroom-item:active {
  filter: brightness(85%);
  font-weight: bold;
}